/*      
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/ext_power.h>

#include <dt-bindings/zmk/rgb.h>
#include "constants.h"
#define HOST_OS LINUX // Needed for unicode international_chars

#include "../zmk-nodefree-config/helper.h"
#include "../chars/math.dtsi"
#include "../chars/typography.dtsi"
#include "../layouts/col_main.dtsi"
#include "../behaviors/combos_50.dtsi"
#include "../behaviors/hold-tap.dtsi"
#include "../behaviors/macros.dtsi"
#include "../behaviors/mod-morph.dtsi"
#include "../behaviors/mouse.dtsi"


/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

ZMK_LAYER(colemak,
&smart_shft &kp Q  &kp W       &kp F     &kp P   &kp B                                                       &kp J       &kp L       &kp U     &kp Y   &kp SEMI   &smart_shft
&ctrl_bspc    &kp A  &hml AL R   &hml CL S   &hml SL T    &kp G          &kp M       &hmr SR N     &hmr CL E     &hmr AR I       &kp O  &kp SQT 
XXX         &kp Z  &kp X       &kp C       &kp D        &kp V  XXX XXX XXX XXX     &kp K       &kp H         &kp COMMA     &kp DOT      &kp FSLH  XXX
                                  XXX XXX  &kp TAB  &kp ESC &lt NUM SPACE             &lt NAV RETURN   &mo SYM  &mo FUNC   XXX  XXX
)

ZMK_LAYER(symbol_layer,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX     &kp LBKT   &kp RBKT      &kp COLON       &kp PIPE           &slack_react         &kp  TILDE  &kp AMPS      &kp STAR       &kp LPAR     &kp PLUS XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     &kp LBRC   &kp  LBRC  &kp UNDER    &kp EQUAL XXX             &kp GRAVE    &kp DLLR      &kp  PRCNT     &kp CARET         &kp RPAR XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     &kp LT      &kp  GT     XXX        &kp DQT         &kp BSLH  XXX XXX XXX XXX           XXX    &kp EXCL      &kp AT         &kp HASH     &kp MINUS XXX
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
                          XXX     XXX     XXX     XXX     XXX              XXX     XXX     XXX     XXX     XXX    
)

ZMK_LAYER(nav_layer,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX      &mkp_rg     &mkp_md      &mkp_lf      &msc_up     &msc_dn       &mkp_lf       &alt_left    &alt_down     &alt_up      &alt_right XXX
// ├───────────┼───────────┼───────────┼────────────┼───────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
&kp BSPC    &mmv_lf     &mmv_dn       &mmv_up     &mmv_rg   &kp PG_UP       &kp HOME      &kp LEFT        &kp DOWN      &kp UP     &kp RIGHT  XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX &ctrl_alt_left &ctrl_alt_down &ctrl_alt_up &ctrl_alt_right &kp PG_DN XXX XXX XXX XXX           &kp END       &ctrl_left   &ctrl_down    &ctrl_up     &ctrl_right XXX
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
               XXX XXX     XXX    &kp SL     &mo BETTER_NAV           XXX          XXX       XXX XXX XXX 
)

ZMK_LAYER(number_layer,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX     XXX         &chinese   &kp CAPSLOCK  &ctrl_bspc   &kp BSPC      &kp DEL      &kp N7        &kp N8        &kp N9       &kp PLUS XXX 
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     &kp GL      &kp AL      &kp CL      &kp SL       XXX            &kp DOT     &kp N4        &kp N5        &kp N6       &kp N0 XXX 
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX XXX          XXX         XXX         &kp K_CONTEXT_MENU XXX XXX XXX XXX                        XXX               &kp INS    &kp N1        &kp N2        &kp N3       &kp MINUS XXX 
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
    XXX           XXX        XXX          XXX         XXX             &mo FUNC        XXX        XXX              XXX           XXX 
)
                    
ZMK_LAYER(func_layer,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX      &kp F7      &kp F8      &kp F9      &kp F10       &kp F13        &kp C_PP    &kp C_PREV    &kp C_VOL_DN  &kp C_VOL_UP &kp C_NEXT     XXX 
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX      &kp F4      &kp F5      &kp F6      &kp F11       &kp F14        XXX         &kp SL        &kp CL        &kp AL       &kp GL XXX 
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX      &kp F1     &kp F2       &kp F3     &kp F12        &kp F15  XXX XXX XXX XXX                 &out OUT_TOG &bt BT_PRV   &ext_power EP_ON  &ext_power EP_TOG &bt BT_NXT  XXX 
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
XXX XXX                              XXX         &kp GL        XXX             ___     &bt BT_CLR ___ XXX XXX 
)       

ZMK_LAYER(switch_layer,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX      &lock       &gui_7      &gui_8      &gui_9        XXX            &kp INS     &ctrl_7      &ctrl_8       &ctrl_9       &kp PLUS XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     XXX         &gui_4      &gui_5      &gui_6      &kp SL           &kp DOT     &ctrl_4       &ctrl_5         &ctrl_6        &ctrl_0 XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     XXX        &gui_1      &gui_2      &gui_3     XXX  XXX XXX XXX XXX                        &kp DEL     &ctrl_1       &ctrl_2      &ctrl_3       &kp MINUS XXX
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
XXX XXX                             ___         ___          ___            &kp CL         &kp GL       XXX XXX XXX
)

ZMK_LAYER(alt_switch_layer,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX &lock_win    &clsl_7      &clsl_8      &clsl_9        XXX                 XXX         &alt_7        &alt_8      &alt_9        XXX XXX           
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     XXX         &clsl_4      &clsl_5      &clsl_6      &clsl_0              XXX         &alt_4      &alt_5      &alt_6      &alt_0   XXX       
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     XXX        &clsl_1      &clsl_2      &clsl_3     XXX     XXX XXX XXX XXX   XXX        &alt_1      &alt_2      &alt_3     XXX         XXX     
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
XXX XXX                             ___         ___          ___            &kp CL         &kp GL       XXX XXX XXX
)

ZMK_LAYER(book_switch_layer,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX      &lock       &gui_7      &gui_8      &gui_9        XXX            &kp INS     &ctrl_7      &ctrl_8       &ctrl_9       &kp PLUS XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     XXX         &gui_4      &gui_5      &gui_6      &kp SL           &kp DOT     &ctrl_4       &ctrl_5         &ctrl_6        &ctrl_0 XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     XXX        &gui_1      &gui_2      &gui_3     XXX   XXX XXX XXX XXX                       &kp DEL     &ctrl_1       &ctrl_2      &ctrl_3       &kp MINUS XXX
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
XXX XXX                             ___         ___          ___            &kp CL         &kp GL       XXX XXX XXX
)

ZMK_LAYER(Better_nav,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
XXX    &mkp_rg     &mkp_md      &mkp_lf    &fmsc_up     &fmsc_dn       &mkp_lf      &fmsc_lf            &cl_mkp_lf   &al_mkp_lf           &fmsc_rg     XXX
// ├───────────┼───────────┼───────────┼────────────┼───────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX    &fmmv_lf     &fmmv_dn       &fmmv_up     &fmmv_rg   XXX             XXX      &shift_win_LEFT    &shift_win_DOWN      &shift_win_UP     &shift_win_RIGHT XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
XXX     XXX          XXX           XXX         XXX         XXX  XXX XXX XXX XXX                   XXX          &win_LEFT    &win_DOWN      &win_UP     &win_RIGHT XXX
// ╰───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────╯
XXX XXX                             XXX            XXX         XXX             XXX         XXX           XXX    XXX  XXX
)


