#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"

#pragma once

#undef CONFIG_ZMK_MACRO_QWEAULT_WAIT_MS
#define CONFIG_ZMK_MACRO_QWEAULT_WAIT_MS 30

#undef CONFIG_ZMK_MACRO_QWEAULT_TAP_MS
#define CONFIG_ZMK_MACRO_QWEAULT_TAP_MS 40






