#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../config/constants.h"
#include "../layouts/col_main.dtsi"

#pragma once


// Tmux command: TMUX + ;
ZMK_BEHAVIOR(TMUX_CMD, macro, bindings =
    <&kp TMUX>,
    <&kp LS(SEMI)>;
)

// Tmux new session: TMUX + ; + new -s + SPACE
ZMK_BEHAVIOR(TMUX_SESSION, macro, bindings =
    <&kp TMUX>,
    <&kp LS(SEMI)>,
    <&kp N &kp E &kp W &kp SPACE &kp MINUS &kp S &kp SPACE>;
)


ZMK_BEHAVIOR(ctrl_alt_up, macro,
    bindings = <&kp CL &kp AL &kp UP>;
)

ZMK_BEHAVIOR(ctrl_alt_down, macro,
    bindings = <&kp CL &kp AL &kp DOWN>;
)

ZMK_BEHAVIOR(ctrl_alt_left, macro,
    bindings = <&kp CL &kp AL &kp LEFT>;
)

ZMK_BEHAVIOR(ctrl_alt_right, macro,
    bindings = <&kp CL &kp AL &kp RIGHT>;
)
