#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../config/constants.h"
#include "../layouts/col_main.dtsi"








// tap: space | shift + tap: tab | hold: nav layer
//  ZMKr_BEHAVIOR(spc_tab_num, mod_morph,
//    bindings = <&lt NUM SPACE>, <&kp TAB>;
 //   mods = <(MOD_LSFT|MOD_RSFT)>;
// )

