#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"
#include "../config/constants.h"

// Documentation : https://deploy-preview-778--zmk.netlify.app/docs/behaviors/mouse-emulation/
// Codes : https://github.com/zmkfirmware/zmk/blob/ee855f4d6736da4d696e74f7875d209c7c173a11/app/include/dt-bindings/zmk/mouse.h

&mmv {
    acceleration-exponent=<1>;
    delay-ms=<50>;
    time-to-max-speed-ms = <300>;
};

&msc {
    acceleration-exponent=<1>;
    delay-ms=<70>;
    time-to-max-speed-ms = <200>;
};

// Move cursor
#define mmv_up mmv MOVE_UP
#define mmv_dn mmv MOVE_DOWN
#define mmv_lf mmv MOVE_LEFT
#define mmv_rg mmv MOVE_RIGHT

// Mouse buttons
#define mkp_lf mkp LCLK
#define mkp_md mkp MCLK
#define mkp_rg mkp RCLK

// Scroll wheel
#define msc_up msc SCRL_UP
#define msc_dn msc SCRL_DOWN
#define msc_lf msc SCRL_LEFT
#define msc_rg msc SCRL_RIGHT

// Switch move/scroll on Ploopy Nano by pressing NumLock twice
ZMK_BEHAVIOR(msc_tg, macro, bindings =
  <&macro_tap_time 1>,
  <&macro_wait_time 18>,
  <&kp KP_NUMLOCK &kp KP_NUMLOCK>;
)

// Mouse Left Click - Index and Middle finger of left hand, active on all layers
ZMK_COMBO(leftclick, &mkp LCLK, LT1 LT2, COL)

// Mouse Right Click - Pinky and Ring finger of left hand, active on all layers
ZMK_COMBO(rightclick, &mkp RCLK, LT3 LT4, COL)

// Mouse Scroll Toggle -  Middle and Ring finger of left hand, active on all layers
ZMK_COMBO(scrolltoggle, &msc_tg, LT2 LT3, COL)




// fast mouse 
//
//
&fmmv {
    acceleration-exponent=<3>;
    delay-ms=<10>;
    time-to-max-speed-ms = <200>;
};

&fmsc {
    acceleration-exponent=<3>;
    delay-ms=<10>;
    time-to-max-speed-ms = <200>;
};

// Move cursor
#define fmmv_up fmmv MOVE_UP
#define fmmv_dn fmmv MOVE_DOWN
#define fmmv_lf fmmv MOVE_LEFT
#define fmmv_rg fmmv MOVE_RIGHT

// Scroll wheel
#define fmsc_up fmsc SCRL_UP
#define fmsc_dn fmsc SCRL_DOWN
#define fmsc_lf fmsc SCRL_LEFT
#define fmsc_rg fmsc SCRL_RIGHT

// Switch move/scroll on Ploopy Nano by pressing NumLock twice
